
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* Variables */

:root {
    --clr-white: #FFFFFF;
    --clr-black: #000000;

    /*Grey shades*/
    --clr-grey600: #3d6666;
    --clr-grey550: #547878;
    --clr-grey500: #5e7a7d;
    --clr-grey400: #7f9d9f;
    --clr-grey300: #9EBBBD;
    --clr-grey200: #c5e4e7;
    --clr-grey50: #f3f9fa;

    /*Green shades*/
    --clr-green900: #00474b;
    --clr-green800: #085c61;
    --clr-green750: #0d686d;
    --clr-green400: #26c2ae;
    --clr-green200: #9fe8df;

    /*Orange*/
    --clr-orange400: #e17052;

    /*Typography*/
    --fstyle-space-mono: 'Space Mono', monospace, serif;

    --fw-700: 700;
    --fw-400: 400;

    --fs-fluid-0: clamp(.65rem, 3vw, 0.813rem);
    --fs-fluid-1: clamp(0.75rem, 4vw, 1rem);
    --fs-fluid-2: clamp(1rem, 5vw, 1.5rem);
    --fs-fluid-3: clamp(2rem, 9vw, 3rem);
}


/* Templates */

.template-calculator__label {
    color: var(--clr-grey500);
    font-weight: var(--fw-700);
    font-size: var(--fs-fluid-1);
}

.template-calculator__btn {
    color: var(--clr-white);
    font-weight: var(--fw-700);
    font-size: var(--fs-fluid-2);
}

.template-display__heading {
    color: var(--clr-white);
    font-weight: var(--fw-700);
    font-size: var(--fs-fluid-1);
}

.template-display__text {
    color: var(--clr-grey400);
    font-weight: var(--fw-700);
    font-size: var(--fs-fluid-0);
}

.template-display__number {
    color: var(--clr-green400);
    font-weight: var(--fw-700);
    font-size: var(--fs-fluid-3);
}


/* Individual Styles */

body {
    font-family: var(--fstyle-space-mono);
    background-color: var(--clr-grey200);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 2rem;
    min-height: 100vh;
}

button {
    cursor: pointer;
}

.app {
    background-color: var(--clr-white);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1.5rem;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input-wrapper {
    position: relative;
}

.icon{
    position: absolute;
    left: 1rem;
    bottom: 0.7rem;
}

.calculator__input {
    box-sizing: border-box;
    margin-top: 0.5rem;
    width: 100%;
    border: none;
    background-color: var(--clr-grey50);
    padding: .5rem 1rem;
    border-radius: 0.5rem;

    text-align: right;
    color: var(--clr-green900);
    font-weight: var(--fw-700);
    font-size: var(--fs-fluid-2);
}

.calculator__input:focus {
    border: 0.2rem solid var(--clr-green400);
    outline: none;
}

.calculator__btns {
    display: grid;
    grid-template-areas:
    "five ten"
    "fifteen twentyfive"
    "fifty custom"
    ;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    max-width: 28.563rem;
    margin-top: 0.5rem;
}

.five {
    grid-area: five;
}

.ten {
    grid-area: ten;
}

.fifteen {
    grid-area: fifteen;
}

.twentyfive {
    grid-area: twentyfive;
}

.fifty {
    grid-area: fifty;
}

.custom {
    grid-area: custom;
    box-sizing: border-box;
    width: 100%;   
    text-align: center;
    color: var(--clr-grey550);
    font-weight: var(--fw-700);
    font-size: var(--fs-fluid-2);
    background-color: var(--clr-grey50);
    border: none;
    border-radius: 0.313rem;
}

.calculator__btn {
    color: var(--clr-white);
    background-color: var(--clr-green900);
    border: none;
    border-radius: 0.313rem;
    padding: 0.5rem 1rem;
}

.calculator__btn:hover, .display__button:hover {
    background-color: var(--clr-green200);
    color: var(--clr-green900);
}

.calculator__btn.active {
    background-color: var(--clr-green400);
    color: var(--clr-green900);
  }
  

.display {
    box-sizing: border-box;
    background-color: var(--clr-green900);
    width: 100%;
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.display__summary {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.display__title {
    line-height: var(--fs-fluid-2);
}

.display__calculated {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.display__button {
    background-color: var(--clr-green750);
    border: none;
    border-radius: 0.313rem;
    padding: 0.5rem;
    font-size: var(--fs-fluid-2);
    font-weight: var(--fw-700);
    color: var(--clr-green900);
    text-transform: uppercase;
}

.display__button.active {
    background-color: var(--clr-green400);
}

@media (min-width: 600px)  {
    body {
        justify-content: center;
    }

    .app {
        border-radius: 1rem;
        padding: 3rem 5rem;
    }

    .calculator__btn {
        padding: 0.6rem 2rem;
    }

    .calculator__btns {
        display: grid;
        grid-template-areas:
        "five ten fifteen"
        "twentyfive fifty custom"
        ;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .display {
        padding: 2rem 3rem;
    }
}

@media (min-width: 1080px) {
    .app {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding: 2.5rem 2.5rem;
    }
    
    .display {
        flex: 1;
        gap: 8rem;
    }

    .calculator{
        flex: 1;
    }
}

/* error state */
.hide {
    display: none !important;
}

.people-label-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#error {
    color: var(--clr-orange400);
    font-weight: var(--fw-700);
    font-size: var(--fs-fluid-1);
}